<!DOCTYPE html>
<html>
<head>
    <title>ss</title>
    <meta charset="utf-8" />
    <style>
        .contionDetail {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            color: #33393c;
            overflow: auto;
            background-color: rgba(204, 204, 204, 0.37);
        }

            .contionDetail.show {
                z-index: 666;
            }

            .contionDetail .Padding {
                position: absolute;
                height: auto;
                width: 900px;
                padding: 20px;
                top: 10px;
                left: 50%;
                margin-left: -420px;
                background-color: white;
            }

            .contionDetail .conetext {
                border: 1px solid #ccc;
                padding: 10px;
                height: 100%;
            }

        .Detail_tool {
            background: #3d9cec;
            line-height: 35px;
            color: white;
            padding-left: 10px;
        }

            .Detail_tool label {
                margin-right: 20px;
            }

            .Detail_tool button {
                float: right;
                margin-right: 5px;
                margin-top: 5px;
            }

        .contionDetail .value {
            color: #515389;
        }
    </style>
</head>
<body>

</body>
</html>
<script>

</script>