@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/richuxisan/ui.css" rel="stylesheet" />
<link href="~/Content/richuxisan/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/richuxisan/local.css" rel="stylesheet" />

<script src="~/Content/richuxisan/jquery.min.js"></script>
<script src="~/Content/bootstrap/bootstrap.min.js"></script>
<script src="~/Content/richuxisan/jquery-ui.min.js"></script>
<script src="~/Content/richuxisan/const.js"></script>
<script src="~/Content/richuxisan/ui.js"></script>
<script src="~/Content/richuxisan/Page.js"></script>
<script src="~/Content/js/jquery.form.js"></script>
<style>
    html {
        height: 100%;
        width: 100%;
        min-width: 1024px;
    }

    body {
        background-color: #f0f0f0;
        height: 100%;
        width: 100%;
        position: relative;
    }

    .Panel_container {
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: white;
    }

    header:after {
        display: block;
        content: "";
        clear: both;
    }

    .ScanPanel {
    }

    header {
        background-color: #CFD8DC;
    }

        header h4 {
            margin: 0;
            line-height: 32px;
            padding-left: 20px;
            font-size: 16px;
        }

    form.label {
    }

    .form {
        padding: 4px 0;
    }

    .btn_Save {
        width: 120px;
    }

    .form_content .section-header {
        display: block;
        background-color: #CFD8DC;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
    }

    .form_content .section-title {
        font-weight: normal;
        padding-left: 15px;
    }

    .section-header span.glyphicon {
        display: none;
    }

    .section-body {
        padding: 0;
    }

    .ScanBox {
        width: 50%;
        display: inline-block !important;
    }

    .col-md-2 {
        width: 16.66%;
        display: inline-block;
        position: relative;
        float: left;
    }

    form > * {
        display: inline-block;
        float: left;
        height: 34px;
        line-height: 34px;
        margin-right: 5px;
    }

    .tool-normal > .tool > .tool-text, .tool-normal > .tool > .tool-icon {
        font-size: 14px;
    }
</style>
<div class="Panel_container">
    <div class="ScanPanel">
        <div class="form">

            <div class="section" style="height:30px;">
                <form id="form1" name="formfile" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" class="textbox ScanBox form-control" />
                    <a href="#" id="downTemplate" style="border:1px solid #ccc;border-radius:4px;padding:0 10px;"><span>下载Execl模板</span></a>
                    <p class="bg-info" style="padding:0 10px 0 10px">提示：仅支持增值税专用发票的Excel数据导入</p>
                    <input type="submit" style="display:none;" />
                </form>
            </div>

        </div>
    </div>
    <div class="form_content">
    </div>
</div>
<script>
    $(function () {
        _control.Init();
        $(document.body).on("click", "#downTemplate", function () {
            var ExeclData = [["发票代码", "发票号码", "开票日期", "销方名称", "销方税号", "金额", "税额"]];
            $ace.post("@this.ContentUrl("~/SystemManage/Scan/SaveExcel2")", { fileName: "InvtaxTemplate", fileData: JSON.stringify(ExeclData) }, function (x) {
                window.open("/Content/Temp/" + x.Msg);
            })
        }).on("change", ".ScanBox", function (e) {
            if (e.target.files.length != 0) {
                _control.Elements[0].Clear();
                $("#form1").ajaxSubmit({
                    url: "/Scan/UploadFile",
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        if (data.Status == 101) {
                            $ace.alert(data.Msg);
                        } else {
                            var Data = data.Data;
                            var count = 1;
                            for (var i = 0; i < Data.length; i++) {
                                if (Data[i]["Column1"] == null || Data[i]["Column1"] == "" || Data[i]["Column2"] == null || Data[i]["Column2"] == "" || Data[i]["Column3"] == null || Data[i]["Column3"] == "")
                                    continue;
                                _control.Elements[0].AddRow({
                                    xh: count,
                                    fpdm: Data[i]["Column1"],
                                    fphm: Data[i]["Column2"],
                                    kprq: Data[i]["Column3"],
                                    xfmc: Data[i]["Column4"],
                                    xfsh: Data[i]["Column5"],
                                    je: Data[i]["Column6"],
                                    se: Data[i]["Column7"]
                                });
                                count++;
                            }
                            if (data.Msg != "") {
                                var data = data.Msg.split(";");
                                var rows = _control.Elements[0].GetRows();
                                for (var i = 0; i < rows.length; i++) {
                                    for (var y = 0; y < data.length; y++) {
                                        if (rows[i]['fpdm'] == data[y].split(',')[0] && rows[i]['fphm'] == data[y].split(',')[1]) {
                                            rows[i].__Cells.fpdm[0].parentElement.style.color = "red";
                                        }
                                    }
                                }
                            }
                        }
                    },
                    error: function (aa) {

                    }
                });
            }
        });

    });


    var _control =
    (function () {
        var form = new FormControl();
        form.RecordID = 0;
        form.PageType = "Form";
        form.ShowSaveAndNew = true;

        var Elem4 = new RepeatTable();
        Elem4.ID = 'Elem4';
        Elem4.Name = '';
        Elem4.Title = '待提交发票';
        var tool0 = new PageTool();
        tool0.ID = 'tool0';
        tool0.Name = '保存';
        tool0.Icon = 'content_content_copy zkbr-iconT-10 iconColor-white';
        tool0.SelectType = 0;
        tool0.ToolType = "Custom";
        Elem4.AddTool(tool0);

        var tool1 = new PageTool();
        tool1.ID = 'tool1';
        tool1.Name = '删除';
        tool1.Icon = 'action_delete zkbr-iconT-10 iconColor-white';
        tool1.SelectType = 0;
        tool1.ToolType = "Delete";
        Elem4.AddTool(tool1);

        form.AddElement(form, Elem4);

        var Elem112 = new TextBox();
        Elem112.ID = 'xh';
        Elem112.Name = 'xh';
        Elem112.Title = '序号';
        Elem112.Width = 50;
        Elem112.DBType = 2;
        Elem112.State = 2;
        form.AddElement(Elem4, Elem112);


        var Elem8 = new TextBox();
        Elem8.ID = 'fpdm';
        Elem8.Name = 'fpdm';
        Elem8.Title = '发票代码';
        Elem8.Width = 100;
        Elem8.DBType = 2;
        form.AddElement(Elem4, Elem8);
        var Elem9 = new TextBox();
        Elem9.ID = 'fphm';
        Elem9.Name = 'fphm';
        Elem9.Title = '发票号码';
        Elem9.Width = 100;
        Elem9.DBType = 2;
        form.AddElement(Elem4, Elem9);
        var Elem10 = new TextBox();
        Elem10.ID = 'kprq';
        Elem10.Name = 'kprq';
        Elem10.Title = '开票日期';
        Elem10.Width = 100;
        Elem10.DBType = 2;
        form.AddElement(Elem4, Elem10);

        var Elem11 = new TextBox();
        Elem11.ID = 'xfmc';
        Elem11.Name = 'xfmc';
        Elem11.Title = '销方名称';
        Elem11.Width = 100;
        Elem11.DBType = 2;
        form.AddElement(Elem4, Elem11);

        var Elem12 = new TextBox();
        Elem12.ID = 'xfsh';
        Elem12.Name = 'xfsh';
        Elem12.Title = '销方税号';
        Elem12.Width = 100;
        Elem12.DBType = 2;
        form.AddElement(Elem4, Elem12);


        var Elem13 = new TextBox();
        Elem13.ID = 'je';
        Elem13.Name = 'je';
        Elem13.Title = '金额';
        Elem13.Width = 100;
        Elem13.DBType = 2;
        form.AddElement(Elem4, Elem13);

        var Elem14 = new TextBox();
        Elem14.ID = 'se';
        Elem14.Name = 'se';
        Elem14.Title = '税额';
        Elem14.Width = 100;
        Elem14.DBType = 2;
        form.AddElement(Elem4, Elem14);

        var rule2 = new PageRule(Elem4, 'RemoveRow', 0, 1);
        rule2.func = function () {
            var rows = _control.Elements[0].GetRows();
            for (var i = 0; i < rows.length; i++) {
                _control.Elements[0].SetCurRow(rows[i]);
                Elem112.Value(i + 1);
            }
        };

        var rule1 = new PageRule(tool0, 'Click', 0, 1);
        rule1.func = function () {
            var rows = _control.Elements[0].GetRows();
            if (rows.length == 0) {
                $ace.alert("无发票数据可提交！请导入数据！！");
                return;
            }
            var data = [];
            var dms = [];
            var hms = [];
            var rq = [];
            var je = [];
            for (var i = 0; i < rows.length; i++) {
                dms.push(rows[i].fpdm);
                hms.push(rows[i].fphm);
                rq.push(rows[i].kprq);
                je.push(rows[i].je);
            }

            $ace.post('@this.ContentUrl("~/Scan/SaveExeclData")', { dms: dms, hms: hms, rq: rq, je: je }, function (x) {
                if (x.state == 1) {
                    var data = x.Data.split(";");
                    var rows = Elem4.GetRows();
                    for (var i = 0; i < rows.length; i++) {
                        for (var y = 0; y < data.length; y++) {
                            if (rows[i]['fpdm'] == data[y].split(',')[0] && rows[i]['fphm'] == data[y].split(',')[1]) {
                                rows[i].__Cells.fpdm[0].parentElement.style.color = "red";
                            }
                        }
                    }
                    $ace.confirm("以下发票已查验,是否自动删除重复提交的发票？(发票代码,发票号码):\n" + x.Data, function () {
                        var rows = _control.Elements[0].GetRows();
                        for (var i = 0; i < rows.length; i++) {
                            for (var y = 0; y < data.length; y++) {
                                if (rows[i]['fpdm'] == data[y].split(',')[0] && rows[i]['fphm'] == data[y].split(',')[1]) {
                                    Elem4.DeleteRows(rows[i]);
                                }
                            }
                        }
                        rows = _control.Elements[0].GetRows();
                        for (var i = 0; i < rows.length; i++) {
                            _control.Elements[0].SetCurRow(rows[i]);
                            Elem112.Value(i + 1);
                        }
                    });
                } else {
                    $ace.alert(x.Msg);
                    Elem4.Clear();
                }
            });
        };

        return form;
    })();
</script>
